*.dot
*.log
*.ign
*.out

release/
.idea/
.vscode/
.DS_Store
build/
genesis.json
react
ts-client
node_modules/
gentx
cmd/zenrockd/zenrockd*
scripts/bootstrap/**
!scripts/bootstrap/main.sh
reset.sh

sidecar/neutrino/neutrino_*/*.bin
sidecar/neutrino/neutrino_*/*.db
sidecar/neutrino/neutrino_*/peers.json
sidecar/sidecar
sidecar/sidecar.log
sidecar/cache.json
sidecar/cache.json.meta
sidecar/cache_alt.json

.env
sidecar/config.yaml
sidecar/eigen_operator_config.yaml