release/
.idea/
.vscode/
.DS_Store
*.dot
*.log
*.ign
*.out
build/
genesis.json

scripts/bootstrap/**
react
ts-client
cmd/zenrockd/zenrockd*
!scripts/bootstrap/main.sh

sidecar/neutrino/neutrino_*
sidecar/sidecar
sidecar/neutrino/neutrino_mainnet/reg_filter_headers.bin
reset.sh
