enabled: true
grpc_port: 9191
state_file: "cache.json"
zrchain_rpc: "localhost:9090"
network: "mainnet"
e2e_tests_ticker_interval: 60
eth_rpc:
  testnet: "https://hoodi.gateway.tenderly.co/"
  mainnet: "https://mainnet.gateway.tenderly.co/"
# Contract addresses + more are now defined in shared/types.go
solana_rpc:
  testnet: "https://api.devnet.solana.com"
  mainnet: "https://api.mainnet-beta.solana.com"
zcash_rpc:
  testnet: "http://127.0.0.1:18232"
  mainnet: "http://127.0.0.1:8232"
neutrino:
  path: "./neutrino"

# Only needed for dev/testnet
proxy_rpc:
  url: "http://127.0.0.1:1234"
  user: "user"
  password: "secret"
