# this sets the logger level (true = info, false = debug)
production: true

operator_address: 0xa36951D284aDdA3343653BF6Dcf0148c08B9ab2f
operator_validator_address: zenvaloper126hek6zagmp3jqf97x7pq7c0j9jqs0ndvcepy6
zr_chain_rpc_address: localhost:9090

# EigenLayer Slasher contract address

# This is the address of the contracts which are deployed in the anvil saved state
# The saved eigenlayer state is located in tests/anvil/credible_squaring_avs_deployment_output.json
# TODO(samlaf): automate updating these addresses when we deploy new contracts
avs_registry_coordinator_address: 0x0ab7E249df09ab1CC1706dC0411268f1c180C227
operator_state_retriever_address: 0x1e61504d75Df583c094ddc822766b5258d8Fe27F

# ETH RPC URL
eth_rpc_url: https://holesky.infura.io/v3/702cfbe5e13e43d4a1a4853215f85074
eth_ws_url: wss://holesky.infura.io/ws/v3/702cfbe5e13e43d4a1a4853215f85074

# If you running this using eigenlayer CLI and the provided AVS packaging structure,
# this should be /operator_keys/ecdsa_key.json as the host path will be asked while running
#
# If you are running locally using go run main.go, this should be full path to your local ecdsa key file
ecdsa_private_key_store_path: keys/test.ecdsa.key.json

# If you running this using eigenlayer CLI and the provided AVS packaging structure,
# this should be /operator_keys/bls_key.json as the host path will be asked while running
#
# We are using bn254 curve for bls keys
#
# If you are running locally using go run main.go, this should be full path to your local bls key file
bls_private_key_store_path: keys/test.bls.key.json

# address which the aggregator listens on for operator signed messages
aggregator_server_ip_port_address: localhost:8090

eigen_metrics_ip_port_address: localhost:9292
enable_metrics: false
node_api_ip_port_address: localhost:9010
enable_node_api: true

# address of token to deposit tokens into when registering on startup
# addresses.erc20MockStrategy in tests/anvil/credible_squaring_avs_deployment_output.json
token_strategy_addr: 0x80528D6e9A2BAbFc766965E0E26d5aB08D9CFaF9

service_manager_address: 0xe2Aaf5A9a04cac7f3D43b4Afb7463850E1caEfB3