# this sets the logger level (true = info, false = debug)
production: true

operator_address: 0xa36951D284aDdA3343653BF6Dcf0148c08B9ab2f
operator_validator_address: zenvaloper126hek6zagmp3jqf97x7pq7c0j9jqs0ndvcepy6

# This is the address of the contracts which are deployed in the anvil saved state
# The saved eigenlayer state is located in tests/anvil/credible_squaring_avs_deployment_output.json
# TODO(samlaf): automate updating these addresses when we deploy new contracts
avs_registry_coordinator_address: 0xFbFECE8f29f499c32206d8bFfA57da2b124790C7
operator_state_retriever_address: 0x03d0452e70711f169eB6B6F5Ab33d8571c313ef6

# ETH RPC URL
eth_rpc_url: https://mainnet.gateway.tenderly.co/
eth_ws_url: wss://mainnet.gateway.tenderly.co/

# If you are running locally using `go run .`, these should be full path to your keystore files
ecdsa_private_key_store_path: keys/test.ecdsa.key.json

# We are using bn254 curve for bls keys
bls_private_key_store_path: keys/test.bls.key.json

# address which the aggregator listens on for operator signed messages
aggregator_server_ip_port_address: 0.0.0.0:8090

eigen_metrics_ip_port_address: 0.0.0.0:9292
enable_metrics: false
node_api_ip_port_address: 0.0.0.0:9010
enable_node_api: false

token_strategy_addr: 0xa5430Ca83713F877B77b54d5A24FD3D230DF854B