{
 "messages": [
  {
   "@type": "/cosmos.slashing.v1beta1.MsgUpdateParams",
   "authority": "zen10d07y265gmmuvt4z0w9aw880jnsr700jq0py6z",
   "params": {
       "signed_blocks_window": "1000",
       "min_signed_per_window": "0.500000000000000000",
       "downtime_jail_duration": "600s",
       "slash_fraction_double_sign": "0.050000000000000000",
       "slash_fraction_downtime": "0.010000000000000000"
   }
  }
 ],
 "metadata": "ipfs://QmeUnDdLrbKrbLMNYH2usRmzh5v8XuYbdsaLfGXpxV9PDf",
 "deposit": "1000000urock",
 "title": "Set signed_block_window to 1000",
 "summary": "Increase the signed_block_window to 1000",
 "expedited": false
}
